<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jalan2kuy.id - Destination Category</title>

  <link rel="stylesheet" href="/css/admin/desAdmin.css">
</head>
<body>

  <div id="navbar"></div>

  <section class="hero">
    <div class="category-header">
      <h1 id="category-title">KATEGORI</h1>

      <a id="addBtn" class="add-btn">+ Add Destination</a>
    </div>

    <div class="destination-container" id="destination-list"></div>
  </section>

  <div id="footer"></div>

  <script src="/js/destinations.js"></script>
  <script src="/js/category.js"></script>
  
  <script>
    fetch('/tamplate/navbarAdmin.html')
      .then(res => res.text())
      .then(data => document.getElementById('navbar').innerHTML = data);

    fetch('/tamplate/footer.html')
      .then(res => res.text())
      .then(data => document.getElementById('footer').innerHTML = data);
  </script>

</body>
</html>
