html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/assets/gambar/bgfix2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
}

/* NAVBAR FIXED */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
}

/* FOOTER SELALU DI BAWAH */
#footer {
    margin-top: auto;
}

/* ================= GALLERY ================= */
.gallery-container {
    margin-top: 130px; /* Turunin biar tidak ketutup navbar */
    padding: 20px 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 35px;  /* vertical horizontal gap */

    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.25s ease;
    cursor: pointer;
}

.gallery-card:hover {
    transform: scale(1.03);
}

/* GAMBAR */
.gallery-card img {
    width: 100%;
    height: 210px;
    border-radius: 20px;
    object-fit: cover;
}

/* TEKS (TIDAK MENYATU DENGAN GAMBAR) */
.gallery-card p {
    margin-top: 12px;
    padding: 10px 25px;

    background: rgba(18, 66, 60, 0.85);
    border-radius: 18px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;

    width: fit-content;
}

@media (max-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }

    .gallery-card img {
        height: 170px;
    }
}
