<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jalan2kuy.id - destination - education</title>
    <link rel="stylesheet" href="/css/destination/destination.css">
</head>
<body>
    <div id="navbar"></div>
    <section class="hero">
        <h1>EDUCATION</h1>
        <div class="destination-container">
            <a href="tamanMini.html" class="destination tmii">
                <span>Taman Mini Indonesia Indah</span>
            </a>
            <a href="tamanIsmailMarzuki.html" class="destination tmIsmailMarzuki">
                <span>Taman Ismail Marzuki</span>
            </a>
            <a href="museumPki.html" class="destination museumPki">
                <span>Museum Penghianatan PKI</span>
            </a>
        </div>
    </section>
    <div id="footer"></div>
    <script>
        fetch('/tamplate/navbar.html').then(res => res.text()).then(data => {document.getElementById('navbar').innerHTML = data;});
        fetch('/tamplate/footer.html').then(res => res.text()).then(data => {document.getElementById('footer').innerHTML = data;});
    </script>
</body>
</html>