<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jalan2kuy.id - destination - culture</title>
    <link rel="stylesheet" href="/css/destination/destination.css">
</head>
<body>
    <div id="navbar"></div>
    <section class="hero">
        <h1>CULTURE</h1>
        <div class="destination-container">
            <a href="floatingMarket.html" class="destination floatingMarket">
                <span>Floating Market Lembang</span>
            </a>
            <a href="tanahLot.html" class="destination puraTanahLot">
                <span>Pura Tanah Lot</span>
            </a>
            <a href="kampungCina.html" class="destination kampungCinaJakarta">
                <span>Kampung Cina Jakarta</span>
            </a>
        </div>
    </section>
    <div id="footer"></div>
    <script>
        fetch('/tamplate/navbar.html').then(res => res.text()).then(data => {document.getElementById('navbar').innerHTML = data;});
        fetch('/tamplate/footer.html').then(res => res.text()).then(data => {document.getElementById('footer').innerHTML = data;});
    </script>
</body>
</html>