/* ====== BODY & LAYOUT ====== */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/gambar/bgfix2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background: transparent
}

.edit-container {
    padding: 120px 7%;
}

/* Judul */
.edit-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.title-edit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.title-input {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    width: 380px;
}

.title-input:focus {
    outline: none;
    border-bottom: 2px solid #00ffc3;
}

.title-icon {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.edit-layout {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
    margin-top: 40px;
}

.left-panel,
.right-panel {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ====== GAMBAR ====== */

.thumb-img,
.main-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.edit-thumb-btn,
.edit-img-btn {
    display: inline-block;
    margin-top: 10px;
    background: #1c5e53;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.edit-thumb-btn input,
.edit-img-btn input {
    display: none;
}

/* ====== BOX KANAN ====== */

.desc-box,
.info-box,
.event-box {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
}

textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.info-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

.jam-operasional {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ====== SAVE BUTTON ====== */

.save-btn {
    width: 100%;
    padding: 15px;
    background: #1c8f80;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.save-btn:hover {
    background: #14685d;
}


@media (max-width: 1100px) {
    .edit-layout {
        grid-template-columns: 1fr;
    }

    .thumb-img,
    .main-img {
        height: 230px;
    }

    .edit-container {
        padding: 100px 5%;
    }
}

@media (max-width: 700px) {

    .edit-title {
        font-size: 26px;
    }

    .thumb-img,
    .main-img {
        height: 200px;
    }

    .desc-box,
    .info-box,
    .event-box {
        padding: 15px;
    }
}
