:root {
    --text-dark: #343a40; 
    --card-background: #ffffff; 
    --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
html {
  height: 100%;
}

body {
   min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #000;
}

/* Nature */
.bg-rinjani{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/nature/wisata/gunungRinjani.jpg');
}
.bg-danauWEkuri{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/nature/weekuri.jpg');
}
.bg-merese{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/nature/mandalika.jpg');
}

/* History */
.bg-prambanan{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/history/wisata/prambanan.jpg');
}
.bg-borobudur{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/history/wisata/borobudur.jpg');
}
.bg-monas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/history/wisata/monas.jpg');
}

/* ecoturism */
.bg-tnKomodo{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/ecouturism/wisata/taman-nasional-komodo.jpg');
}
.bg-tnWayKambas{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/ecouturism/wisata/taman-nasional-waykambas.jpg');
}
.bg-tnLeuser{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/ecouturism/wisata/taman-nasional-gunung-leuser.jpg');
}
/* beach */
.bg-pantaiOra{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/beach/pantai_ora.jpg');
}
.bg-pantaiGatra{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/beach/pantai-gatra.jpg');
}
.bg-pantaiTanjung{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/beach/wisata/Tanjung-Aan-Best-Dream-Beach-South-Lombok.jpg');
}

/* culture */
.bg-floatingMarket{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/culture/wisata/Floating-Market-Lembang-1280x720.jpg');
}
.bg-puraLot{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/culture/wisata/pura-tanah-lot.jpg');
}
.bg-kpCina{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/culture/wisata/kampungcina.jpg');
}

/* education */
.bg-tmii{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/education/wisata/tmii.jpg');
}
.bg-tmMarzuki{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/education/wisata/marsuki.jpg');
}
.bg-museumPKI{
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/assets/destinasi/education/wisata/Museum-PKI.jpg');
}

.hero {
    padding-top: 100px; 
    padding-bottom: 50px;
    text-align: left;
}

.hero .title {
    font-size: 4.5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    padding-left: 20px;
    font-weight: bold;
}

/* --- Bagian Kotak Konten Utama (Deskripsi & Gambar) --- */
.content-box {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    max-width: 87%;
    margin: 0 auto 50px auto;
    background-color: var(--card-background);
    border-radius: 15px;
    padding: 40px;
    box-shadow: var(--shadow-medium);
}

/* --- Bagian Deskripsi --- */
.description {
    font-family: 'roboto';
    flex: 2;
}

.description h2 {
    font-size: 4em;
    color: var(--text-dark);
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.description p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size:1.4em ;
    text-align: justify;
}

/* --- Bagian Gambar --- */
.image-box {
    flex: 1;
    text-align: center;
    max-width: 400px;
    max-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.image-box .caption {
    margin-top: 10px;
    color: var(--text-dark);
    font-size: 1.1em;
}

.image-box .text{
    margin-top: 10px;
    color: var(--text-dark);
    text-align: justify;
    font-size: 1.1em;
}

@media (max-width: 900px) {
    .content-box {
        flex-direction: column;
        max-width: 90%;
        padding: 20px;
    }

    .hero .title {
        font-size: 2.5em;
        margin-left: 5%;
        padding-left: 10px;
    }
}
@media (max-width: 1024px) {
    .image-box {
    max-width: 100%;
    max-height: 350px;
}

    .image-box img {
    object-fit: contain;
    }
}
