body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/gambar/bgfix2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 0 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 17px;
    padding: 15px 25px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 700px;
}

.search input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
}

.search input::placeholder{
    color: rgba(255, 255, 255, 0.85);
}

.search button{
    background: none;
    border: none;
    cursor: pointer;
}

.search img{
    width: 28px;
    filter: invert(1);
}

.categori-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 90%;
    max-width: 1200px;
    margin-top: 40px;
}

.categori{
    position: relative;
    height: 200px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.categori::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.categori span{
    position: relative;
    z-index: 2;
}

.categori:hover{
    transform: scale(1.02);
    opacity: 0.9;
}

.nature{
    background-image: url(/assets/destinasi/hutan.png);
}

.history{
    background-image: url(/assets/destinasi/candi.jpg);
}

.ecotourism{
    background-image: url(/assets/destinasi/komodo.png);
}

.beach{
    background-image: url(/assets/destinasi/pantai.jpg);
}

.culture{
    background-image: url(/assets/destinasi/culture.jpeg.jpg);
}

.education{
    background-image: url(/assets/destinasi/aquarium.jpg);
}
@media (max-width: 768px) {
    .search-container input {
        width: 250px;
        font-size: 16px;
    }

    .category {
        height: 130px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .category-container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .search-container {
        padding: 8px 15px;
    }
}

@media (max-width: 900px) {
    .categori-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .categori-container {
        grid-template-columns: 1fr;
    }
}
