body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #e6e6e6;
}

.navbar {
    background-color:#0b585b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
}

.back-btn {
    position: absolute;
    left: 20px;
    top: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.back-btn img {
    width: 28px;
    height: 28px;
    filter: invert(1); 
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}

.logo img {
    width: 181px;
    height: 90px;
    margin-right: 10px;
}

.form-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #f5f5f5;
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h1 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: #111;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #e9e9e9;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #2289a3;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #1c7489;
}
