<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jalan2kuy.id - destination - Admin</title>
  <link rel="stylesheet" href="/css/admin/desAdmin.css">
</head>
<body>

  <div id="navbar"></div>
  
  <section class="hero">
    <div class="teks"> 
      <h1>KATEGORI DESTINASI</h1>
    </div>
    <div class="categori-container">
        <a href="/view/admin/destinasi/categori.html?category=nature" class="categori nature"><span>Nature</span></a>
        <a href="/view/admin/destinasi/categori.html?category=history" class="categori history"><span>History</span></a>
        <a href="/view/admin/destinasi/categori.html?category=ecotourism" class="categori ecotourism"><span>Ecotourism</span></a>
        <a href="/view/admin/destinasi/categori.html?category=beach" class="categori beach"><span>Beach</span></a>
        <a href="/view/admin/destinasi/categori.html?category=culture" class="categori culture"><span>Culture</span></a>
        <a href="/view/admin/destinasi/categori.html?category=education" class="categori education"><span>Education</span></a>
    </div>
  </section>

  <div id="footer"></div>

  <script>
    fetch('/tamplate/navbarAdmin.html').then(res => res.text()).then(data => {document.getElementById('navbar').innerHTML = data;});
    fetch('/tamplate/footer.html').then(res => res.text()).then(data => {document.getElementById('footer').innerHTML = data;});
  </script>

</body>
</html>
