html{
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/gambar/bgfix2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #000;
}
.form-wrapper {
  width: 100%;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
}

.title {
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
}

.event-form {
  width: 90%;
  max-width: 1000px;
  display: grid;
  padding-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-item {
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.image-box {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.image-box i {
  font-size: 40px;
  margin-bottom: 10px;
}

.file-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.short-desc textarea {
  width: 100%;
  min-height: 340px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

.full-desc {
  grid-column: 1 / -1;
}

.full-desc textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  resize: vertical;
}

.info-box {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.info-box input,
.info-box textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 12px;
}

.submit-btn {
  grid-column: 1 / -1;
  padding: 15px;
  border-radius: 10px;
  background-color: #349c8b;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #2d7f6f;
}

@media(max-width: 768px) {
  .event-form {
    grid-template-columns: 1fr;
  }
}
