<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalan2Kuy.id</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

    <div id="navbar"></div> 
    
    <section class="hero slideshow-container">
        <div class="myslides" style="background-image: url('/assets/gambar/bgfix.jpg');">
            <div class="hero-content">
                <h1>Temukan Petualanganmu</h1>
                <h2>Bersama <span>Jalan2Kuy.id</span></h2>
                <button class="cta-btn" onclick="window.location.href='/view/destination/destinasi.html'">Mulai Jelajahi</button>
            </div>
        </div>
        
        <div class="myslides" style="background-image: url('/assets/gambar/bgswap.jpg');">
            <div class="hero-content">
                <h1>Jelajahi Budaya Lewat</h1>
                <h2>Event Unik Nusantara <span>Jalan2Kuy.id</span></h2>
                <button class="cta-btn" onclick="window.location.href='/view/event/event.html'">Cari Event</button>
            </div>
        </div>
        
        <div class="myslides" style="background-image: url('/assets/gambar/raja-ampat-dikeruk.jpeg');">
            <div class="hero-content">
                <h1>Ayo Kita Suarakan</h1>
                <h2>#SaveRajaAmpat di <span>Jalan2Kuy.id</span></h2>
                <button class="cta-btn" onclick="window.location.href='/view/saveRajaAmpat.html'">Cek Berita Terkini</button>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="dot-indicator">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>
    <div id="footer"></div> 

    <script>
        fetch('/tamplate/navbar.html').then(res => res.text()).then(data => {document.getElementById('navbar').innerHTML = data;});

        var slideIndex = 1;
        var timer;

        showSlides(slideIndex); 

        function plusSlides(n) {
            clearTimeout(timer); 
            showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
            clearTimeout(timer);
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myslides");
            var dots = document.getElementsByClassName("dot");

            if (n === undefined) { 
                slideIndex++;
            } else { 
                slideIndex = n;
            }

            if(slideIndex > slides.length) {
                slideIndex = 1
            }
            if (slideIndex < 1) {
                slideIndex = slides.length
            }

            for (i = 0; i < slides.length; i++) {
                slides[i].style.transform = 'translateX(100%)'; 
                slides[i].style.display = 'none'; 
                dots[i].className = dots[i].className.replace(" active", "");
            }
            
            slides[slideIndex-1].style.display = 'flex';
            slides[slideIndex-1].style.transform = 'translateX(0)'; 
            
            if (dots.length > 0) {
                dots[slideIndex-1].className += " active";
            }

            clearTimeout(timer); 
            timer = setTimeout(showSlides, 5000); 
        }
        fetch('/tamplate/footer.html').then(res => res.text()).then(data => {document.getElementById('footer').innerHTML = data;});
    </script>

</body>
</html>